<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$('td').click(function(){
  var txt = $(this).parent().children().text()

  $("#result").text(txt)
})
</script>
<style>
table {
	border-collapse: collapse;
	font-size: 12px;
	border-collapse: collapse;
}

td {
	border-radius: 0px;
	border: 1px solid white;
	border-collapse: collapse;
}

th {
	text-align: center;
}

</style>
