.crosshair {
	cursor: default;
}

#table.crosshair {
	cursor: pointer;
}

#disttable1.crosshair {
	cursor: pointer;
}
#disttable2.crosshair {
	cursor: pointer;
}
#disttable3.crosshair {
	cursor: pointer;
}
#disttable4.crosshair {
	cursor: pointer;
}

#chart-label {
	margin-top: 12px;
	margin-bottom: 12px;
}

#cbfRGB1 {
	position: absolute;
	left: 0px;
	right: 0px;
}

#cbfRGB2 {
	position: absolute;
	left: 0px;
	right: 0px;
}

#cbfRGB3 {
	position: absolute;
	left: 0px;
	right: 0px;
}

#cbfRGB4 {
	position: absolute;
	left: 0px;
	right: 0px;
}

.hide {
	display: none;
}
