.crosshair {
	cursor: default;
}

#table.crosshair {
	cursor: pointer;
}

#disttable1.crosshair {
	cursor: pointer;
}
#disttable2.crosshair {
	cursor: pointer;
}
#disttable3.crosshair {
	cursor: pointer;
}
#disttable4.crosshair {
	cursor: pointer;
}

#chart-label {
	margin-top: 12px;
	margin-bottom: 12px;
}
